<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppVenture">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BlankActivityUsuario"  />
        <activity android:name=".AddCardActivity"  />
        <activity android:name=".BlankActivityGuia" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCCGlNqaHAnwEGX1uiwrAiIjRzeVPNFSdI"/>

        <activity android:name=".Usuario.ActivityUsuarioMetodosPago"/>
        <activity android:name=".Usuario.ActivityUsuarioNotiConf"/>
        <activity android:name=".Usuario.ActivityUsuarioAyuda"/>
        <activity android:name=".Usuario.ActivityUsuarioInfoPersonal"/>
        <activity android:name=".Usuario.ActivityUsuarioReviews"/>

        <activity
            android:name=".Usuario.ActivityChatUsuario"
            android:exported="false" />
        <activity
            android:name=".Guia.activities.ActivityGuiaInfoPersonal"
            android:exported="false" />

        <activity android:name=".Guia.activities.ChatDetalleGuiaActivity"
            android:exported="false"/>
        <activity android:name=".Usuario.ActivityUsuarioDetalleTour"/>
        <activity android:name=".Usuario.ActivityUsuarioPago"/>

    </application>

</manifest>